body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
  }

img{
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

#qr-box {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -130px;
  padding: 10px;
  background-color: white;
  width: 250px;
  border-radius: 15px;
  text-align: center;
}